@model Restaurante.Models.Rol

@{
    ViewData["Title"] = "Eliminar rol";
}
<style>
    body {
        font-family: 'Playfair Display', serif;
        font-style: italic;
    }

    .centered-text {
        text-align: center;
        font-weight: bold;
        color: #333;
    }

    .bold-text {
        font-weight: bold;
    }

    .date-input {
        width: 150px;
        display: inline-block;
    }
</style>
@if (User.Identity!.IsAuthenticated) // sirve para bloquear ver los elementos si no estas registrado
{
<br />
<h3 class="bold-text">~ Eliminar ~</h3>
<hr />
<br />
<div>
    <h4>Rol</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Eliminar" class="custom-btn" />
            
       
        </form><br />
        <div>
            <a class="custom-btn" href="@Url.Action("Index", "Rol")">Volver</a>
        </div>
</div>
}