@{
    ViewData["Title"] = "Home Page";
}

<div class="image-container">
    <img src="~/Img/logo2.png" alt="Logo" />
</div>
<div class="button-container text-center">
    <a href="@Url.Action("Index", "Producto")" class="custom-btn">Ver menú</a>
    <a href="@Url.Action("Index", "Reseña")" class="custom-btn">Reseñas</a>
</div>

@if (!User.Identity!.IsAuthenticated) // sirve para bloquear ver los elementos si no estas registrado
{
<footer>
    <div class="small-image-container">
        <a href="@Url.Action("Login", "Acceso")">
            <img src="~/img/monstera.png" alt="Link usuarios" />
        </a>
    </div>
</footer>
}

