@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">-- AL MAL TIEMPO BUENA CARA --</h1><br />
    <p>Restaurante temático - Descuentos especiales</a>.</p>
    <br />
</div>
<div class="text-center">
    <a href="@Url.Action("Index", "Producto")" class="btn btn-primary">Ver menú</a>
</div>
<br />
<div class="text-center">
    <a href="@Url.Action("Index", "Usuario")" class="btn btn-primary">Login usuarios</a>
</div>

