@model IEnumerable<Restaurante.Models.Reseña>

@{
    ViewData["Title"] = "Inicio";
}
<style>
    body {
        font-family: 'Playfair Display', serif;
        font-style: italic;
    }

    .centered-text {
        text-align: center;
        font-weight: bold;
        color: #333;
    }

    .bold-text {
        font-weight: bold;
    }

    .date-input {
        width: 150px;
        display: inline-block;
    }
</style>
@if (User.Identity!.IsAuthenticated)
{
    <script>
        window.location.href = '@Url.Action("Create", "Reseña")';
    </script>
}
<br />
<hr />
<div class="text-center">
    <a href="@Url.Action("Login", "Acceso")" class="custom-btn">
        Estoy registrado
    </a>
    <br /> <br />
</div>
<div class="text-center">
    <a href="@Url.Action("CreateCliente", "Usuario")" class="custom-btn">Soy nuevo </a>
</div>
