@model IEnumerable<Restaurante.Models.Producto>

@{
    ViewData["Title"] = "Index1";
}

<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link" asp-controller="Producto" asp-action="Index">Platos</a>
    </li>
    <li class="nav-item">
        <a class="nav-link " asp-controller="Producto" asp-action="Postres">Postres</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" asp-controller="Producto" asp-action="Bebidas">Bebidas</a>
    </li>
</ul>
<h3>Bebidas</h3>
<table class="table">
    <thead title="Bebidas">
        <tr>
            <th>
                Nombre
            </th>
            <th>
                Descripción
            </th>
            <th>
                Precio $
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            if (item.Tipo == "Bebidas")
            {
            <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Precio)
            </td>
            }
        }   
    </tbody>

</table>